* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all; /
}

body {
    color: white;
    font-family: 'Malgun Gothic', sans-serif; 
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black; 
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.source {
    position: absolute;
    top: 50px;
    right: 40px;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

a {
    color: white;
}


.main-sentence {
    position: absolute;
    bottom: 60px; 
    left: 40px;
    width: 85%; 
    font-size: 17px;
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}



.next-arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    display: block;
}

.next-arrow img {
    width: 100%;
    filter: invert(1); 
}


@media screen and (max-width: 700px) {
    .bg-image {
        filter: brightness(0.8);
        content: url('images/page2_rampmobile.jpg'); 
    }
    .source {
        font-size: 12px;
        top: 30px;
        right: 20px;
    }
    .main-sentence {
        font-size: 14px;
        bottom: 70px;
        left: 20px;
        width: 90%;
    }

}
