* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

body {
    color: white;
    background-color: black;
    font-family: 'Malgun Gothic', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9); 
}

.main-text {
    position: absolute;
    top: 77px;
    right: 40px;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.3;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8); 
    font-weight: 500;
    width: 80%;
}

.source-text {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 16px;
    text-align: right;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

a {
    color: white;
}


.bottom-left {
    position: absolute;
    bottom: 230px; 
    left: 60px;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.bottom-right {
    position: absolute;
    bottom: 80px; 
    right: 80px;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.next-arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    display: block;
    z-index: 10;
}

.next-arrow img {
    width: 100%;
    filter: invert(1);
}

@media screen and (max-width: 700px) {
    .main-text {
        font-size: 15px;
        top: 77px;
        left: 20px;
        width: 80%;
    }
    
    .bottom-left {
        font-size: 18px;
        bottom: 160px;
        left: 20px;
        width: 80%;
    }
    .bottom-right {
        font-size: 18px;
        bottom: 80px;
        right: 20px;
        width: 80%;
    }
    .source-text {
        font-size: 12px;
    }
}